/* CCCCCC  C20000 */
input[type=range] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;

  /* Hides the slider so custom styles can be added */
  background: transparent; 
  border-color: transparent;
  color: transparent;
}

/**/
input[type='range'] {
  overflow: hidden;
  height: 4px;
  /* width: 80px; */
  -webkit-appearance: none;
  background-color: #CCCCCC;
}

input[type='range']::-webkit-slider-runnable-track {
  height: 4px;
  -webkit-appearance: none;
  color: #C20000;
  margin-top: -1px;
}

input[type='range']::-webkit-slider-thumb {
  width: 12px;
  -webkit-appearance: none;
  height: 12px;
  border-radius: 50%;
  cursor: pointer;
  background: #C20000;
  box-shadow: -500px 0 0 500px #C20000;
}
input[type=range]::-moz-range-thumb{
  width: 12px;
  -webkit-appearance: none;
  height: 12px;
  border-radius: 50%;
  cursor: pointer;
  background: #C20000;
  box-shadow: -500px 0 0 500px #C20000;
  border: none;
}
input[type=range]::-ms-thumb{
  width: 12px;
  -webkit-appearance: none;
  height: 12px;
  border-radius: 50%;
  cursor: pointer;
  background: #C20000;
  box-shadow: -500px 0 0 500px #C20000;
  border: none;
}
input[type="range"]::-moz-range-progress {
  background-color: #C20000; 
}
input[type="range"]::-moz-range-track {  
  background-color: #CCCCCC;
}
input[type="range"]::-ms-fill-lower {
  background-color: #CCCCCC; 
}
input[type="range"]::-ms-fill-upper {  
  background-color: #CCCCCC;
}