*{
	padding: 0;
	margin: 0;
	font-family: 'Roboto';
	color: #fff;
	list-style: none;
}
h2 {
	font-size: 60px;
	font-weight: light;
}
h3 {
	font-size: 36px;
	font-weight: 700;
}
.dark--header {
	height: 100vh;
	/*box-sizing: border-box;*/
	min-height: 650px;
	background-color: #282a2e;
}
.dark--header__navContainer {
	position: relative;
	width: 1200px;
	min-width: 320px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}
@media only screen and (max-width: 1200px) {
	.dark--header__navContainer {
		width: 100%;
	}
}
@media only screen and (max-width: 720px) {
	.dark--header__nav--logo {
		margin: 0 auto;
	}
	.dark--header__nav--ul {
		margin: 0 auto;
	}
	.dark--header__nav--ul li {
		margin: 0 auto;
	}
}
.dark--header__nav--logo {
	position: relative;
	z-index: 11;
	overflow: hidden;
	background-color: #282a2e;
}
.dark--header__nav--logo img {
	display: block;
	padding: 46px 0;
}
.dark--header__nav--logo a::after {
	content:"МЕНЮ";
	display: none;
}
/*=============подсветка тменю====================================*/
.dark--header__nav--logo::after {
	content: '';
	position: absolute;
	height: 3px;
	width: 0;
	background: #97c248;
	bottom: 30px;
	left: 0;
	transition: .5s;
	/*mix-blend-mode: multiply;*/
}
.dark--header__nav--logo:hover::after {
	width: 50%;
	transform: translateX(100%);
}
.dark--header__nav--logo::before {
	content: '';
	position: absolute;
	height: 3px;
	width: 0;
	background: #d22856;
	bottom: 30px;
	right: 0;
	transition: .5s;
	/*mix-blend-mode: multiply;*/
}
.dark--header__nav--logo:hover::before {
	width: 50%;
	transform: translateX(-100%);
}
/*==============*/
.dark--header__nav--ul {
	display: flex;
	flex-wrap: wrap;
	transition: .5s;
	background-color: rgba(40,42,46,.9);
}
.dark--header__nav--ul a {
	display: block;
	text-decoration: none;
	font-size: 16px;
	font-weight: 300;
	color: #fff;
	line-heigut: 20px;
	padding: 10px 19px;
	border-radius: 50px;
}
.dark--header__nav--ul a:hover {
	color: #97c248;
	background: rgb(255,255,255);
}
.dark--header__nav--ul li:last-child {
	position: relative;
}
.dark--header__nav--ul li:last-child button{
	cursor: pointer;
	width: 39px;
	height: 39px;
	border-radius: 50%;
	border: none;
	background: url(../img/headericons.png) no-repeat center;
}
.dark--header__nav--ul li:last-child button:hover {
	background-color: #97c248;
}
.dark--header__nav--ul li:last-child form {
	display: none;
	position: absolute;
	bottom: -40px;
	right: 0;
	/*display: none;*/
	transition: 1s;
	z-index: 999;
}
.dark--header__nav--ul li:last-child form.formOpen {
	display: block;
}
.dark--header__nav--ul li:last-child input {
	box-sizing: border-box;
}
.dark--header__nav--ul li:last-child input[type=text] {
	border: none;
	background-color: #222327;
	width: 320px;
	padding: 11px;
}
.dark--header__nav--ul li:last-child input[type=submit] {
	border: none;
	background: #1bbc9d url(../img/headericons.png) no-repeat center;
	width: 38px;
	height: 38px;
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
}
@media only screen and (max-width: 600px) {
	.dark--header__navContainer {
		display: block;
	}
	.dark--header__nav--ul {
		display: block;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		z-index: 10;
	}
	.dark--header__nav--ul li:last-child button{
		display: none;
	}
	.dark--header__nav--ul li:last-child form {
		display: block;
		width: 100%;
		position: relative;
		bottom: 0;
	}
	.dark--header__nav--ul li:last-child input[type=text] {
		width: 100%;
	}
	.dark--header__nav--logo a::after {
		content:"МЕНЮ";
		display: block;
		position: absolute;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
		font-size: 24px;
		font-weight: 700;
	}
	.dark--header__nav--ul.open {
		bottom: -272px;
	}
}

.dark--header__slider{
	background-color: #453a34;
	height: 100%;
}
.dark--header__container{
	height: calc(100% - 115px);/*=============calc(100vh - 60px)===============*/
	position: relative;
	width: 1200px;
	min-width: 320px;
	margin: 0 auto;
}
@media only screen and (max-width: 1200px) {
	.dark--header__container {
		width: 100%;
	}
	.dark--header__slider--scrol .slider--scrol {
		display: none;
	}
}
.dark--header__slider--list {
	position: absolute;
	top: 0;
	left: 0;
	background-color: #453a34;
	width: 100%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	z-index: 1;
	opacity: 0;
	transition: .5s;
}
.dark--header__slider--list:nth-child(3) {
	opacity: 1;
}
.dark--header__slider--list h2 {
	flex-basis: 100%;
}
.dark--header__slider--list span {
	font-size: 40px;
}
.dark--header__slider--indicators {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	z-index: 999;
	background-color: rgba(0,0,0,.2);
	border-radius: 10px 10px 0 0;
}
.dark--header__slider--indicators .slider--indicator {
	height: 20px;
	margin: 10px 10px;
	width: 20px;
	border-radius: 50%;
	background-color: #282a2e;
	cursor: pointer;
}
/*.dark--header__slider--indicators .slider--indicator:nth-child(1){
	background-color: rgba(255,255,255,.4);
}*/
.dark--header__slider--indicators .slider--indicator:hover {
	box-shadow: 0 0 5px #fff;
}
.dark--header__slider--scrol .slider--scrol {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 999;
	height: 30px;
	width: 30px;
	background-color: red;
	cursor: pointer;
	border-radius: 50%;
}
.dark--header__slider--scrol .slider--scrol:hover {
	box-shadow: 0 0 5px #fff;
}
.dark--header__slider--scrol .slider--scrol:nth-child(1){
	left: -35px;
	background: url('../img/sliderLeft.png') no-repeat center/cover;
}
.dark--header__slider--scrol .slider--scrol:nth-child(2){
	right: -35px;
	background: url('../img/sliderLeft.png') no-repeat center/cover;
	transform: rotate(180deg);
}
.dark--header__slider--icon {
	position: absolute;
	bottom: 0;
	right: 0;
	height: 100%;
	width: 390px;
	z-index: 999;
}
.dark--header__slider--icon .slider--icon {
	opacity: 1;
	transition: 1s;
}
.dark--header__slider--icon .slider--icon:nth-child(1) {
	position: absolute;
	bottom: 0;
	left: 0;
	animation-name: icons3;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}
.dark--header__slider--icon .slider--icon:nth-child(2) {
	position: absolute;
	bottom: 21%;
	left: 27%;
	animation-name: icons;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-direction: alternate
}
.dark--header__slider--icon .slider--icon:nth-child(3) {
	position: absolute;
	bottom: 37%;
	left: 40%;
	animation-name: icons2;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-direction: alternate	
}
.dark--header__slider--icon .slider--icon:nth-child(4) {
	position: absolute;
	bottom: 47%;
	left: 27%;
	animation-name: icons;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-direction: alternate
}
.dark--header__slider--icon .slider--icon:nth-child(5) {
	position: absolute;
	bottom: 65%;
	left: 50%;
	animation-name: icons2;
	animation-duration: 4s;
	animation-iteration-count: infinite;
	animation-direction: alternate
}
.dark--header__slider--icon .slider--icon:nth-child(6) {
	position: absolute;
	bottom: 73%;
	left: 41%;
	animation-name: icons;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-direction: alternate
}
.dark--header__slider--icon .slider--icon:nth-child(7) {
	position: absolute;
	bottom: 90%;
	left: 50%;
	animation-name: icons2;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-direction: alternate
}
@keyframes icons {
	100%{
		transform: scale(1.2);
	}
}
@keyframes icons2 {
	100%{
		transform: translateY(10px);
	}
}
@keyframes icons3 {
	100%{
		transform: rotateY(360deg);
	}
}
@media only screen and (max-width: 1200px) {
	.dark--header__slider--icon .slider--icon {
		opacity: .5;
		transition: 1s;
	}
}
@media only screen and (max-width: 720px) {
	.dark--header__slider--list h2 {
		margin: 0 auto;
		text-align: center;
		font-size: 40px;
	}
	.dark--header__slider--list span {
		margin: 0 auto;
		font-size: 24px;
		text-align: center;
	}
	.dark--header__slider--icon {
		width: 100%;
	}
}
/*====================dark--portfolio==================================================================*/
.dark--portfolio {
	background-color: #282a2e;
	padding: 60px 0;
}
.dark--portfolio__container {
	width: 1200px;
	min-width: 320px;
	margin: 0 auto;
	text-align: center;
}
.dark--portfolio__container h3 {
	padding-bottom: 60px;
}
@media only screen and (max-width: 1200px) {
	.dark--portfolio__container {
		width: 100%;
	}
}
.dark--portfolio__wrapper {
	display: flex;
	flex-wrap: wrap;
}
.dark--portfolio__wrapper .wrapper__items {
	background-color: black;
	margin: 0 auto;
	margin-bottom: 20px;
	position: relative;
	z-index: 1;
	width: 380px;
	height: 320px;
	border: 5px solid black;
	overflow: hidden;
}
.dark--portfolio__wrapper .wrapper__items::after,
.dark--portfolio__wrapper .wrapper__items::before {
	content: '';
	height: 320px;
	width: 320px;
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	background-color: #1b70d5;
	opacity: .1;
	transition: .5s;
}
.dark--portfolio__wrapper .wrapper__items::after {
	transform: translateX(-130%) rotate(45deg) ;
}
.dark--portfolio__wrapper .wrapper__items::before {
	transform: translateX(150%) rotate(45deg) ;
}
.dark--portfolio__wrapper .wrapper__items:hover::after {
	transform: translateX(100%) rotate(45deg) scale(2);
	opacity: .5;
}
.dark--portfolio__wrapper .wrapper__items:hover::before {
	transform: translateX(-80%) rotate(45deg) scale(2);
	opacity: .5;
}
.dark--portfolio__wrapper .wrapper__items img {
	height: 320px;
	transition: .5s;
	position: relative;
	z-index: 1;
}
.dark--portfolio__wrapper .wrapper__items:nth-child(2) img {
	height: 340px;
	transition: .5s;
	position: relative;
	z-index: 1;
}
.dark--portfolio__wrapper .wrapper__items:hover img {
	transform: rotate(-25deg) scale(1.5);
	filter: blur(2px);
}
.dark--portfolio__wrapper .wrapper__items a {
	position: absolute;
	z-index: 3;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-decoration: none;
	font-size: 26px;
	font-weight: 700;
	border: 2px solid #fff;
	padding: 10px 30px;
	border-radius: 20px;
	overflow: hidden;
	transition: 1s;
	opacity: 0;
}
.dark--portfolio__wrapper .wrapper__items:hover a {
	opacity: 1;
}
.dark--portfolio__wrapper .wrapper__items a::after {
	content: '';
	position: absolute;
	transform: skewX(-45deg);
	bottom: 0;
	left: -90px;
	height: 60px;
	width: 80px;
	background-image: linear-gradient(90deg,rgba(255,255,255,.1), rgba(255,255,255,.5));
	transition: .3s ease-in-out;
}
.dark--portfolio__wrapper .wrapper__items a:hover::after {
	transform: translateX(350px) skewX(-45deg);
}
.dark--portfolio__wrapper .wrapper__items:nth-child(1) img{
	left: -76px;
}
.dark--portfolio__wrapper .wrapper__items:nth-child(5) img{
	left: -76px;
}
.dark--portfolio__wrapper .wrapper__items:nth-child(6) img{
	left: -49px;
}
.dark--portfolio__wrapper .wrapper__items:nth-child(7) img{
	left: -86px;
}
/*=========================*/











/*===============dark--footer========================================================*/
.dark--footer {
	background-color: #282a2e;
}
/*============FLEX=========*/
.dark--footer__container {
	width: 1200px;
	min-width: 320px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}
@media only screen and (max-width: 1200px) {
	.dark--footer__container {
		width: 100%;
	}
}
@media only screen and (max-width: 720px) {
	.dark--footer__logo {
		margin: 0 auto;
	}
	.dark--footer__contact {
		margin: 0 auto;
	}
}
/*===============FLEX====================*/
.dark--footer__logo {
	position: relative;
	z-index: 11;
	overflow: hidden;
	background-color: #282a2e;
}
.dark--footer__logo img {
	display: block;
	padding: 46px 0;
}
/*=============подсветка тменю====================================*/
.dark--footer__logo::after {
	content: '';
	position: absolute;
	height: 3px;
	width: 0;
	background: #97c248;
	bottom: 30px;
	left: 0;
	transition: .5s;
	/*mix-blend-mode: multiply;*/
}
.dark--footer__logo:hover::after {
	width: 50%;
	transform: translateX(100%);
}
.dark--footer__logo::before {
	content: '';
	position: absolute;
	height: 3px;
	width: 0;
	background: #d22856;
	bottom: 30px;
	right: 0;
	transition: .5s;
	/*mix-blend-mode: multiply;*/
}
.dark--footer__logo:hover::before {
	width: 50%;
	transform: translateX(-100%);
}
.dark--footer__contact {
	display: flex;
	flex-wrap: wrap;
	align-items: baseline;
	padding: 10px 0;
}
.dark--footer__contact span {
 padding-right: 20px;
 margin: 0 auto;
}
.dark--footer__contact a {
 margin: 0 auto;
}
















