* {
	padding: 0;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	list-style: none;
}
/*============================gratia--heade========================================*/
.gratia--header {
	background-color: #161b29;
	min-width: 320px;
	height: 100vh;
	min-height: 617px;
}
.gratia--header__nav {
	width: 1200px;
	margin: 0 auto;
	position: relative;
}
.gratia--header__nav ul {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	transition: .5s;
}
.gratia--header__nav ul span {
	display: block;
	position: relative;
	font-size: 24px;
	font-weight: 700;
	color: #fff;
	padding: 30px 0 30px 54px;
	margin-left: 30px;
}
.gratia--header__nav ul span::after {
	content: url(../img/header1.png);
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 0;
}
.gratia--header__nav ul a {
	font-soze: 16px;
	color: #fff;
	font-weight: 700;
	text-decoration: none;	
}
.gratia--header__nav ul li:nth-child(n+2):hover a {
	color: #000;
}
.gratia--header__nav ul li:first-child {
	margin-right: auto;
}
.gratia--header__nav ul li:nth-child(n+2) {
	padding: 10px 30px;
	border-radius: 20px;
	transition: .5s;
}
.gratia--header__nav ul li:nth-child(n+2):hover {
	background-color: #d89b64;
}
.gratia--header__logo {
	display: none;
}

.gratia--header__slider {
	width: 1200px;
	margin: 0 auto;
	height: calc(100% - 89px);
	position: relative;
	z-index: 1;
}
.gratia--header__slider--text {
	position: absolute;
	left: 50%;
	top: 40%;
	transform: translate(-50%,-40%);
	width: 912px;
	height: 528px;
	max-height: 100%;
}
.gratia--header__slider--text span {
	position: absolute;
	color: #1e2536;
	text-shadow: 0 0 20px #000;
	font-weight: 700;
}
.gratia--header__slider--text span:nth-child(1) {
	font-size: 102px;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
}
.gratia--header__slider--text span:nth-child(2) {
	font-size: 144px;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
}
.gratia--header__slider--text span:nth-child(3) {
	font-size: 144px;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
}
.gratia--header__slider--text span:nth-child(4) {
	font-size: 102px;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}
.gratia--header__slider--list {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%,-40%);
	transition: .5s;
	opacity: 1;
}
.gratia--header__slider--list img {
	height: 420px;
}
.gratia--header__slider--indicators {
	position: absolute;
	z-index: 100;
	bottom: 0;
	left: 0;
}
.gratia--header__slider--indicators span {
	display: block;
	position: relative;
	font-size: 16px;
	color: #fff;
	font-weight: 700;
	padding: 20px 0;
	cursor: pointer;
}

.gratia--header__slider--indicators .indicatorActive {
	color: #d89b64;
}
.gratia--header__slider--indicators .indicatorActive::after {
	content: '';
	position: absolute;
	bottom: 20px;
	left: 0;
	height: 1px;
	width: 300%;
	background-color: #d89b64;
}
.gratia--header__slider--scrolLeft {
	position: absolute;
	z-index: 100;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
}
.gratia--header__slider--scrolRight {
	position: absolute;
	z-index: 100;
	right: 0;
	top: 50%;
	transform: translateY(-50%) rotate(180deg);
	cursor: pointer;
}
/*======================================================================*/
/*===============================main======================================*/
.gratia--main__grid {
	position: relative;
	display: grid;
	/*max-width: 2000px;*/
	width: 100%;
	min-width: 320px;
	margin: 0 auto;
	grid-template-areas: 
		"main-1 main-1 main-1"
		"main-2 main-3 main-4"
		"main-5 main-5 main-5"
		"main-6 main-6 main-6"
		"main-7 main-7 main-7"
		"main-8 main-9 main-10"
	;
/*	grid-gap: 10px;*/
	grid-template-rows: 350px 700px 200px 477px 350px 380px;
}
.gratia--main__grid h2 {
	font-size: 48px;
	font-weight: 700;
	color: #151b28;
	text-transform: uppercase;
	text-align: center;
}
.gratia--main__grid p {
	text-align: center;
	font-family: "Crimson Text";
	font-size: 24px;
	font-style: italic;
	color: #8b909d;
	line-height: 36px;
}
.gratia--main__grid .gratia--main-6__btn {
	margin: 0 auto;
	display: block;
}
.gratia--main__grid img {
	width: 100%;
	display: block;
}
.gratia--main__grid section {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}
.gratia--main__grid .block-text {
	position: absolute;
}
.gratia--main__grid  section:nth-child(1)  {
	grid-area: main-1;
}
.gratia--main__grid  section:nth-child(1) img {
	width: inherit;
}
.gratia--main__grid section:nth-child(2)  {
	grid-area: main-2;
}
.gratia--main__grid section:nth-child(3)  {
	grid-area: main-3;
}
.gratia--main__grid section:nth-child(4)  {
	grid-area: main-4;
}
.gratia--main__grid section:nth-child(2) h2,
.gratia--main__grid section:nth-child(4) h2 {
	color: #d89b64;
	padding-bottom: 30px;
}
.gratia--main__grid section:nth-child(3) h2 {
	padding-bottom: 30px;
}
.gratia--main__grid section:nth-child(2) .block-img,
.gratia--main__grid section:nth-child(4) .block-img {
	position: relative;
}
.gratia--main__grid section:nth-child(2) .block-img::after,
.gratia--main__grid section:nth-child(4) .block-img::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.7);
}
.gratia--main__grid section:nth-child(5)  {
	grid-area: main-5;
}
.gratia--main__grid section:nth-child(5) p {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	color: #d89b64;
	position: relative;
}
.gratia--main__grid section:nth-child(5) p::after {
	content: "";
	position: absolute;
	height: 1px;
	width: 100%;
	bottom: 0;
	left: 0;
	background-color: #d89b64;
}
.gratia--main__grid section:nth-child(6)  {
	grid-area: main-6;
}
.gratia--main__grid section:nth-child(6) .block-text {
	background-color: #fff;
	padding: 65px 110px;
	border: 1px solid #dcdddf;
	z-index: 2;
}
.gratia--main__grid section:nth-child(6) .gratia--main-6__btn {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	color: #d89b64;
	position: relative;
	outline: none;
	padding: 25px 25px;
	border: 1px solid #dcdddf;
	cursor: pointer;
}
.gratia--main__grid section:nth-child(7)  {
	grid-area: main-7;
}
.gratia--main__grid section:nth-child(7) img {
	width: auto;
}
.gratia--main__grid section:nth-child(8)  {
	grid-area: main-8;
	background: url(../img/main-8.png) no-repeat center/cover;
}
.gratia--main__grid section:nth-child(8) span,
.gratia--main__grid section:nth-child(9) span,
.gratia--main__grid section:nth-child(10) span{
	font-family: "Crimson Text";
	font-size: 200px;
	font-style: italic;
	color: #fff;
	text-shadow: 0 0 5px #dcdddf;
}
.gratia--main__grid section:nth-child(9)  {
	grid-area: main-9;
	background: url(../img/main-8.png) no-repeat center/cover;
	/*overflow: visible;*/
}
.gratia--main__grid section:nth-child(9)::after {
	content: "";
	position: absolute;
	width: 110%;
	height: 110%;
	background-color: rgba(0,0,0,.8);
}
.gratia--main__grid section:nth-child(10)  {
	grid-area: main-10;
	background: url(../img/main-8.png) no-repeat center/cover;
}











/*=======================================================================*/

.gratia--footer {
	padding: 70px 0;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}
.gratia--footer__box--img {
	border: 1px solid #d89b64;
	border-radius: 50%;
	padding: 26px;
	position: relative;
	z-index: 2;
	background-color: #fff;
	cursor: pointer;
	transition: .5s;
}
.gratia--footer__box--img:hover {
	background-color: #dcdddf;
}
.gratia--footer::after {
	content: "";
	position: absolute;
	height: 1px;
	width: 100%;
	background-color: #d89b64;
	z-index: 1;
}
.gratia--footer__box--img img {
	display: block;
}









