@import url(app/libs/magnific-popup/dist/magnific-popup.css);
* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Rboto', sans-serif;
  font-weight: normal;
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.6;
  color: #333;
}

button {
  border: none;
  font-family: "Roboto";
  font-weight: bold;
  font-size: 16px;
  color: #fff;
  padding: 11px 35px;
  background-color: #9b1818;
  -webkit-border-radius: 5px;
          border-radius: 5px;
}

button:focus, button:hover {
  border: none;
  outline: none;
}

section {
  padding: 56px 0 38px 0;
}

section.s_dark h2, section.s_dark h3 {
  color: #fff;
}

section h2 {
  color: #003469;
  font-family: 'Cleanvertising';
  font-size: 50px;
  line-height: 56px;
  margin-bottom: 50px;
}

h1 {
  color: #fff;
  font-size: 60px;
  font-weight: bold;
  font-family: 'Cleanvertising', sans-serif;
  margin: 0;
}

header {
  min-height: 640px;
  height: 100vh;
  background: url("../img/top_bg.jpg") no-repeat top center/cover;
  padding-top: 32px;
}

.logo {
  font-size: 40px;
  font-family: 'Roboto';
  font-weight: bold;
  color: #fff;
}

/*=====================karaganda--header===================*/
/*==========================================================*/
.nav-tabs {
  border-bottom: none;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
  background-color: transparent;
  border: none;
  text-decoration: underline;
  color: #fff;
}

.karaganda--heade__top_line .nav > li {
  float: right;
}

.karaganda--heade__top_line .nav > li > a {
  padding: 0 15px 0 0;
  color: #fff;
}

.karaganda--heade__top_line .nav > li > a:hover {
  background-color: transparent;
}

.karaganda--heade__top_line .nav > li.active > a::after {
  content: '/';
  position: absolute;
  right: 6px;
  top: 0;
}

.karaganda--heade__top_line .nav-tabs > li > a {
  border: none;
  -webkit-border-radius: 0;
          border-radius: 0;
  text-transform: uppercase;
}

.karaganda--heade__top_line .tab-pane {
  float: right;
  color: #fff;
  font-family: 'Roboto';
  font-size: 35px;
  font-weight: bold;
  line-height: 45px;
}

.karaganda--header h1 {
  padding-top: 65px;
}

.karaganda--header h2 {
  color: #fff;
  padding-bottom: 40px;
  margin: 0;
}

.karaganda--header__tabs .nav-tabs > li {
  margin: 0;
}

.karaganda--header__tabs .nav > li > a {
  padding: 25px 18px;
  margin: 0;
  font-weight: bold;
  font-size: 16px;
  color: #fff;
  border: none;
  -webkit-border-radius: 0;
          border-radius: 0;
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, 0.2);
}

.karaganda--header__tabs .nav > li > a:hover {
  border: none;
  -webkit-border-radius: 0;
          border-radius: 0;
  text-transform: uppercase;
  cursor: pointer;
}

.karaganda--header__tabs .nav > li > a br {
  display: none;
}

.karaganda--header__tabs .nav-tabs > li.active > a,
.karaganda--header__tabs .nav-tabs > li.active > a:focus,
.karaganda--header__tabs .nav-tabs > li.active > a:hover {
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  text-decoration: none;
  color: #000;
}

.karaganda--header__tabs .tab-pane.active {
  background-color: rgba(255, 255, 255, 0.5);
  color: #fff;
  font-family: 'Roboto';
  font-size: 35px;
  font-weight: bold;
  line-height: 45px;
}

.karaganda--header__tabs p {
  font-family: 'Roboto';
  font-size: 18px;
  line-height: 28px;
  font-weight: bold;
  color: #000;
  text-transform: uppercase;
  padding: 15px 0 0 74px;
  margin: 0;
  position: relative;
}

.karaganda--header__tabs p:nth-child(3) {
  padding-bottom: 15px;
}

.karaganda--header__tabs p i {
  position: absolute;
  left: 30px;
  top: 11px;
}

.karaganda--header__tabs .tab-button {
  background-color: rgba(255, 255, 255, 0.5);
  text-align: right;
  padding: 0 25px 19px 0;
}

.karaganda--main__icons {
  background-color: #c8d9ee;
}

.karaganda--main__icons--items1, .karaganda--main__icons--items2, .karaganda--main__icons--items3, .karaganda--main__icons--items4 {
  position: relative;
  padding-left: 85px;
  padding-bottom: 30px;
}

.karaganda--main__icons--items1 p:first-child, .karaganda--main__icons--items2 p:first-child, .karaganda--main__icons--items3 p:first-child, .karaganda--main__icons--items4 p:first-child {
  font-family: 'Cleanvertising';
  font-weight: normal;
  font-size: 13px;
  text-transform: uppercase;
  color: #003469;
  margin: 0;
}

.karaganda--main__icons--items1 p:last-child, .karaganda--main__icons--items2 p:last-child, .karaganda--main__icons--items3 p:last-child, .karaganda--main__icons--items4 p:last-child {
  font-family: 'Cleanvertising';
  font-weight: normal;
  font-size: 22px;
  text-transform: uppercase;
  color: #003469;
  margin: 0;
}

.karaganda--main__icons--items1::after {
  content: '10';
  font-family: 'Roboto';
  font-size: 75px;
  line-height: 75px;
  color: #003469;
  position: absolute;
  top: -8px;
  left: 0;
  width: 70px;
  height: 70px;
}

.karaganda--main__icons--items2::after {
  content: '';
  position: absolute;
  top: -8px;
  left: 16px;
  background: url("../img/section1.png") no-repeat;
  width: 70px;
  height: 70px;
}

.karaganda--main__icons--items3::after {
  content: '';
  position: absolute;
  top: -8px;
  left: 16px;
  background: url("../img/section1.png") no-repeat -275px;
  width: 70px;
  height: 70px;
}

.karaganda--main__icons--items4::after {
  content: '';
  position: absolute;
  top: -8px;
  left: 16px;
  background: url("../img/section1.png") no-repeat -137px;
  width: 70px;
  height: 70px;
}

/*===============================karaganda--main__s2====================================*/
.karaganda--main__s2 h2 {
  color: #003469;
  text-align: center;
}

.karaganda--main__s2 .red {
  background-color: red;
}

.karaganda--main__s2--item {
  padding-left: 137px;
  position: relative;
}

.karaganda--main__s2--item::after {
  content: "";
  color: green;
  position: absolute;
  top: 0;
  left: 0;
}

.karaganda--main__s2--item h4 {
  font-family: "Cleanvertising";
  font-size: 30px;
  color: #9b1818;
  margin: 0;
  font-weight: 700;
}

.karaganda--main__s2--item p {
  margin: 0;
  font-family: "Roboto";
  font-size: 16px;
  color: #333333;
  line-height: 24px;
  font-weight: 300;
  padding-bottom: 50px;
}

.karaganda--main__s2--item:nth-child(1)::after {
  content: url("../img/s_2__1.svg");
}

.karaganda--main__s2--item:nth-child(2)::after {
  content: url("../img/s2-2.png");
}

.karaganda--main__s2--item:nth-child(3)::after {
  content: url("../img/s2-3.png");
}

.karaganda--main__s2--item:nth-child(4)::after {
  content: url("../img/s_2__4.svg");
}

.karaganda--main__s2 form {
  position: relative;
  border: 5px solid #67bc5c;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  background-color: #f7f7f7;
  padding: 30px 25px;
  min-width: 320px;
}

.karaganda--main__s2 form h5 {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 22px;
  color: #444444;
  margin: 0;
  padding-bottom: 20px;
  text-align: center;
}

.karaganda--main__s2 form label {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 300;
  line-height: 26px;
  color: #666666;
  margin: 0;
  padding-top: 10px;
}

.karaganda--main__s2 form input, .karaganda--main__s2 form select {
  display: block;
  border: 2px solid #e1e1e1;
  padding: 10px;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  font-family: "Roboto";
  font-size: 20px;
  line-height: 26px;
  font-weight: 300;
  color: #666666;
  width: 100%;
}

.karaganda--main__s2 form input:focus, .karaganda--main__s2 form select:focus {
  border-color: #67bc5c;
}

.karaganda--main__s2 form input[type=submit] {
  margin-top: 36px;
  background-color: #67bc5c;
  color: #fff;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  border: none;
}

/*=========================karaganda--main__s3======================================*/
.karaganda--main__s3 {
  background: url("../img/middle_bg.jpg") no-repeat fixed;
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center;
  min-height: 500px;
}

.karaganda--main__s3 h2 {
  text-align: center;
  color: #fff;
}

.karaganda--main__s3 .owl-carousel__items {
  color: #fff;
}

.karaganda--main__s3 .owl-carousel__items .image__wrap {
  text-align: center;
  padding-bottom: 20px;
}

.karaganda--main__s3 .owl-carousel__items .image__wrap img {
  width: 170px;
  height: 170px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  border: 10px solid #6a6a6c;
  display: inline-block;
}

.karaganda--main__s3 .owl-carousel__items .text--wrap {
  position: relative;
}

.karaganda--main__s3 .owl-carousel__items .text--wrap h5 {
  font-family: 'Times New Roma';
  font-size: 22px;
  color: #fff;
  font-style: italic;
  text-align: center;
  padding-bottom: 20px;
  margin: 0;
}

.karaganda--main__s3 .owl-carousel__items .text--wrap h5::after {
  content: '';
  margin: 0 auto;
  display: block;
  width: 80px;
  height: 1px;
  background-color: #cea380;
  margin-top: 20px;
}

.karaganda--main__s3 .owl-carousel__items .text--wrap p {
  position: relative;
  margin: 0;
  font-family: 'Roboto';
  font-size: 15px;
  line-height: 24px;
  color: #ffffff;
  text-align: center;
  font-weight: 300;
}

.owl-carousel .owl-nav button.owl-prev {
  width: 50px;
  height: 150px;
  background: url("../img/s3__3.png") no-repeat center;
  position: absolute;
  left: 0;
  top: 0;
}

.owl-carousel .owl-nav button.owl-prev span {
  display: none;
}

.owl-carousel .owl-nav button.owl-next {
  width: 50px;
  height: 150px;
  background: url("../img/s3__2.png") no-repeat center/cover;
  position: absolute;
  right: 0;
  top: 0;
}

.owl-carousel .owl-nav button.owl-next span {
  display: none;
}

.karaganda--main__s4 {
  min-height: 200px;
  background: url("../img/s__4.1.jpg") no-repeat center/cover;
}

.karaganda--main__s4 h3 {
  font-family: 'Roboto';
  font-size: 26px;
  line-height: 36px;
  color: #fff;
  margin: 0;
  margin-bottom: 30px;
  padding: 9px 0;
  text-align: center;
  text-transform: uppercase;
  font-weight: 300;
  background-color: rgba(255, 255, 255, 0.2);
}

.karaganda--main__s4 button {
  background-color: #fff;
  color: #000;
  text-transform: uppercase;
  margin: 0 auto;
  display: block;
}
