body{
    background:#fff;
    font-family:Ubuntu, sans-serif;
    font-size:16px;
    color:#828282;
    font-weight:normal;
    min-width:320px;/*для маленьких устройств*/
}
a{
    font-family:Montserrat, sans-serif;
    font-weight:700;
    color:#2cc7c1;
}
a:hover{
    color:#2cc7c1;
}
img{
    max-width:100%;
    height:auto;
}
section{
    position:relative;
}
h2{
    font-family:Montserrat, sans-serif;
    font-size:30px;
    margin-top:0;
    text-transform:uppercase;
}

/*=============header============*/
#header{
    background:url("../img/2-min.jpg") center;
    background-size:cover;
    height:100vh;
    min-height:500px;/*чтобы кнопки не вцыпадали с header*/
}
.section-table{
    display:table;
    height:100%;
    width:100%;
}
.section-row{
    display:table-row;
}
.section-cell{
    display:table-cell;
    text-align:center;
    vertical-align:middle;
}
.section-center{
    max-width:500px;
    display:inline-block;
}
#header h1{
    font-family:Montserrat;
    font-weight:700;
    font-size:31px;
    color:#fff;
    text-transform:uppercase;
}
#header p{
    color:#fff;
    font-size:20px;   
}
.btn{
    font-family:Montserrat, sans-serif;
    font-size:17px;
    color:#fff;
    padding:10px 20px;
    text-transform:uppercase;
    margin:0 10px;
    border:none;
    transition:background .5s;
}
.btn-primary{
    background:#7ea4e8;
}
.btn-default{
    background:#6a7079;
}
.btn-default:hover{
    background:#474c52;
    color:#fff;
}
/*===========speakers==============*/
#speakers{
    padding:90px 0;
    border-bottom:2px solid #f0f0f1;
    
}
#speakers h2{
    color:#828689;
}
#speakers .lag{
    color:#828689;
    font-family:Ubuntu, sans-serif;
    font-size:22px;
    margin-bottom:20px;
}
.section-tab{
    border:3px solid #ececec;
    border-radius:2px;
}
.section-tab .nav-tabs li:not(.active){
    background:#ececec;
}
.section-tab .nav-tabs.nav-justified li a,
.section-tab .nav-tabs.nav-justified li:active a,
.section-tab .nav-tabs.nav-justified li:focus a,
.section-tab .nav-tabs.nav-justified li:hover a{
    border-radius:none;
    border:none;
    font-family:Ubuntu, sans-serif;
    font-size:18px;
    font-weight:700;
    outline:none;
}
.nav-tabs li a{
    color:#abb1ba;
}
.section-tab .nav-tabs li.active a{
    color:#9097a1;
}
.section-tab .tab-content{
    padding:25px 20px;}
.section-tab .tab-content ul{
    padding-left:10px;
}
.section-tab .tab-content ul li{
    line-height:30px;
}

#speakers .speakers .ff{
    border-radius:50%;
}
.speakers-head{
   margin-top:100px;
    margin-bottom:60px;
    text-align:center;
}
.speakers .item{
    text-align:center;
}
.speakers-head h2{
    color:#6a7079;
}
.speakers h3{
    color:#777a7d;
    font-size:20px;
}
.speacers-footer{
    text-align:center; 
    margin-top: 70px;
}
.item > div{
    position:relative;
    cursor:pointer;
}
.item .front{
    position:absolute;
    width:140px;
    height:140px;
    
    /*для IE*/
    left:50%;
    margin-left:-70px;
}
.item .back{
    width:140px;
    height:140px;
    background:#6bd8d3;
    display:inline-block;
    border-radius:50%;
    opacity:0;
}
.item .back i{
    line-height:140px;
    font-size:50px;
}
.item > div:hover .front{
    opacity:.2;
}
.item > div:hover .back{
    opacity:1;
}
.item > div:hover h3{
    color:#2cc7c1;
}
/*=============#events===============*/
#events{
    padding:90px 0;
}
#events .link{
    text-transform:uppercase;
    display:inline-block;
    margin-top:50px;
}
#events .tab-content .vvv{
    font-size:18px;
    float:left;
    padding:0;
    margin:0;
    margin-left:20px;
    color:#747a84;
} 
#events .tab-content i{
    float:right;
}
#events .tab-content p{
    float:left;
    margin-top:20px;
/*    width:515px;*/
}
#events .tab-content .time{
    font-family:Ubuntu, sans-serif;
    font-size:17px;
    color:#fff;
    background:#2cc7c1;
    padding:2px 10px;
    border-radius:2px;
    float:left;
}

/*
#events .nav.nav-tabs li a[aria-expanded="false"]{
    background:red;
}
*/
#events .nav.nav-tabs li:not(.active){
    background:#ececec;
}
#events .nav.nav-tabs li a{
    border:none;
}
#events .tab2{
    border:3px solid #ececec;
    
}

#events .tab-content .tab-pane{
    padding:20px 20px;
}
#events .row-1{
    margin-top: 90px;
}
.oop{
    margin-bottom: 100px;
}
#events .row-1 a{
    margin-top:60px;
    display:inline-block;
}
#events .carousel-indicators{
    left:60px;
    bottom:0;
}
#events .carousel-indicators li{
    border:1px solid #2cc7c1;
}
#events .carousel-indicators li.active{
    background:#2cc7c1;
}
#events .carusel1 img{
    border-radius:5px;
}

/*=======#form============*/
#form{
    background:#f3f3f3;
    padding:90px 0;
    
}
#form .row-center{
    text-align:center;
}
.section-form{
    background:#fff;
    padding:40px;
    border-radius:2px;
    margin-top:50px;
}
.section-form input,
.section-form select{
     height:44px;
    background:#efefef;
    padding-right:25px;
    
}

/*==========Validator============*/
.has-success .form-control-feedback{
    color:#2cc7c1;
}
.has-success .form-control,
.section-form input.form-control:focus{
    border:2px solid #2cc7c1;
    background:#fff;
    box-shadow:none;
}
.form-control-feedback{
    line-height:44px;
    right:10px;
}    


/*===================================*/


/*===============Selekt=================*/
/*поле select - размеры, фон, горизонтальное выравнивание*/
.select2-container--default .select2-selection--single{
	height: 44px;
	text-align: left;
	background: #efefef;
}
/*поле select - вертикальное выравнивание + цвет*/
.select2-container--default .select2-selection--single .select2-selection__rendered{
	line-height: 44px;
	color: #bebebe;
}
/*фон открытого поля select*/
.select2-container--open .select2-selection--single{
	background: #2cc7c1;
}
/*цвет открытого поля select*/
.select2-container--open .select2-selection--single .select2-selection__rendered{
	color: #fff;
}
/*выравнивание стрелки*/
.select2-container--default .select2-selection--single .select2-selection__arrow{
	top: 10px;
}
/*скрываем placeholder*/
li.select2-results__option:first-child{
	display: none;
}
/*фон списка*/
.select2-results__options,
.select2-container--default .select2-results__option--highlighted[aria-selected],
.select2-container--default .select2-results__option[aria-selected="true"]{
	background: #525b64;
}
/*цвет списка*/
.select2-results__options{
	color: #2cc7c1;
}


#sponsors{
    padding:60px;
    text-align:center;
}

#contecs{
    background:#525b64;
    padding:60px;
}
#contecs h3,
#contecs p{
    color:#fff;
}









/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    .row.speakers-head,
    .row.speacers-footer{
        margin-top:50px;
    }
    #speakers{
        padding:20px;
    }
    
}



/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}
@media only screen and (max-width : 600px) {
    .section-center{
        max-width:320px;
    }
    #header h1{
        font-size:20px;
    }
    #header p{
        font-size:14px;
    }
    .btn{
        font-size:14px;
    }
}


